body {
    color: rgb(115, 221, 221);


    background-image: url("imagens/pastos3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


    header {
        padding-left: 27%;
        padding-right: 30%;
        padding-top: 15px;
        padding-bottom: 15px;
        gap: 10%;
        width: 100%;
        align-items: center;
        font-size: x-large;
    }

    p {
        color: #9aebeb;
    }

    main {
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left: 8%;
        padding-right: 8%;
    }


    div {
        text-align: center;
    }

    ul {
        padding: 0;
        list-style-type: none;
    }

    li {
        font-size: larger;
        display: inline-block;
        padding-left: 30px;
        padding-right: 30px;
    }

    h2{
        color: #000000;
    }

    .container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        margin-top: 45px;
        margin-bottom: 45px;
        gap: 8px;
        padding: 1px;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
    }

    .container2 {
        display: grid;
        grid-template-columns: auto auto auto;
        margin-top: 45px;
        margin-bottom: 45px;
        gap: 8px;
        padding: 1px;
        align-items: center;

    }

    .container3 {
        display: grid;
        grid-template-columns: 3fr 2fr;
        margin-top: 45px;
        margin-bottom: 45px;
        margin-right: 50px ;
        gap: 8px;
        padding: 1px;
        align-items: center;
    }

    .text {
        text-align: center;
        font-size: larger;
        color: rgb(0, 0, 0);
        padding-left: 15%;
        padding-right: 15%;
        gap: 1px
    }

    .text2 {
        text-align: center;
        font-size: larger;
        color: rgb(255, 255, 255);
        padding-left: 15%;
        padding-right: 15%;
        gap: 1px
    }

    .card {
        width: 300px;
        background-color: #7ffce7d2;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        text-align: center;
        padding: 20px;
        transition: transform 0.3s ease;
        margin: auto;
    }

    .card:hover {
        transform: translateY(-10px);
    }

    .card img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }

    .card h3 {
        margin: 15px 0;
        font-size: 24px;
        color: #333;
    }

    .card p {
        font-size: 16px;
        color: #666;
        margin-bottom: 20px;
    }

    .card .price {
        font-size: 20px;
        color: #49bb78;
        margin-bottom: 20px;
        font-weight: bold;
    }

    .card button {
        padding: 10px 20px;
        background-color: #3498db;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .card button:hover {
        background-color: #28b433;
    }



}

/*Tablet*/
@media screen and (min-width: 481px) and (max-width: 768px) {
    .colaboradores img {
        width: 25%;
    }

    body {
        font-size: 12px;

        header {
            padding-left: 0.1%;
            padding-right: 0.1%;
            padding-top: 15px;
            padding-bottom: 15px;
            gap: 2%;
            width: 100%;
            align-items: center;
            font-size: large;
        }
    }
}

/*Smartphone*/
@media (max-width: 480px) {
    .colaboradores img {
        width: 15%;
    }

    body {
        font-size: 10px;
        
        header {
            padding-left: 0.1%;
            padding-right: 0.1%;
            padding-top: 15px;
            padding-bottom: 15px;
            gap: 0%;
            width: 100%;
            align-items: center;
            font-size: large;
        }
    }

}